<!-- <p>launches works!</p> -->
<!-- <div class="container1" style="border: 1px solid;padding: 0; margin: 0;"> -->


<div class="container" >

  <div class="row">
    
    <div class="col-xl-12" style="justify-content: left; top: 20px;bottom: 30px; margin-bottom: 10px;" >
      <!-- <app-filter class="filter"[list]="filterList" (onFilterChange)="filterChange($event)"  > </app-filter> -->
    
      <i  class="fa fa-calendar" aria-hidden="true">All Time
        <input type="text" style="color:black ;font-size: 14px;" ngxDaterangepickerMd [showCustomRangeLabel]="true"[alwaysShowCalendars]="true"[ranges]="ranges "[linkedCalendars]="true"
      [isInvalidDate] = "isInvalidDate"placeholder="date"(change)="dateRangeCreated($event)" 
      />
      <!-- [(ngModel)]="selected" -->
      </i>
    <!-- {{selected.startDate._d}} -->
    </div>
    <div class="row">
    <div class="col-xl-6 mt-12 filter1" style="margin-left: 970px; bottom: 10px;">
       <!-- &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<img src="./assets/images/dropdown.jpg"> -->
      <!-- <h4>All Launches</h4>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; -->
      
      <app-filter  class=" filter"[list]="filterList" (onFilterChange)="filterChange($event)" style="position: absolute; padding: 2px; left: 370px; margin-left: -400px; "  > </app-filter>
      <!-- <i class="fas fa-filter"></i> -->
      <select class="nocolor" (change)="combinefilter(selected,t.value);selectlaunchfilter(t.value,selected);" #t  style="bottom: 20px; margin-left: -1px;">
             <option  value="" >All Launches</option>
              <option value="upcoming" > Upcoming Launches</option>
                  <option value="past">Past Launches</option>
                  <option value="launch_success=true" >SuccessFul Launches</option>
                  <option value="launch_success=false" >Failed Launches</option>
          </select>
    </div>
    <!-- src="assets/images/Vector.jpg" -->
  </div>
  <!-- <div class="filterlaunches" id="#filter" style="margin-left: 900px; bottom: 10px;">
   
        </div> -->
  

<table style="border: 1px solid; " class="table-1" >
    <thead class="thead" style="color: #1F2937;  font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;">
     <tr style="font-family: normal;" >
        <th class="row-flight-number" >No.</th>
        <th style="width: 130px;">Launch (UTC)</th>
        <th style="width: 120px;">Location</th> 
        <th style="width: 120px;"> Mission</th>
        <th style="width: 90px;">Orbit</th>
        <th style="width: 120px;"> Launches Status</th>
        <th style="width: 100px;"> Rocket </th>
      </tr>
    </thead>
    <tbody>
      <tr (click)="openmodalbox(spacetemplate,ans)"    *ngFor="let ans of filter | paginate: { itemsPerPage: 10, currentPage: page,totalItems:totalLength }">
        <!-- routerLink="/launchmodel/{{ans.flight_number}}" -->
        <td >{{ans.flight_number}} </td>
        <td>{{ans.launch_date_utc | date : 'd MMMM y'}} {{ans.launch_date_utc | date :
          'HH:mm'}}</td>
        <td>{{ans.launch_site.site_name}}</td>
        <td>{{ans.mission_name}}</td>
        <td>{{ans['rocket']['second_stage']['payloads'][0]['orbit']}}</td>
        <td class="badge" [ngClass]="{'badge-primary ':(!ans.launch_success && !ans.upcoming ),'badge-success':ans.launch_success,'badge-warning':ans.upcoming}" style="border-radius: 10px; align-items: center;padding: 9px;margin-top: 10px; margin-left: 30px;">{{ans.upcoming === true?
          'Upcoming' : ans.launch_success === true ?'Success':'failed'}}</td>
                  <td>{{ans.rocket.rocket_name}}</td>
        
     </tr>

    </tbody>

</table>
<pagination-controls class=" pagination pagination1" (pageChange)="page = $event"></pagination-controls>

    <!-- </div> -->
  <!-- </div> -->
  <!-- <ng-template #template>
    <div class="modal-header "  >
      <h4 class="modal-title pull-left">Model Box</h4>
      <button type="button" class="btn-close close pull-right" aria-label="Close" (click)="modalRef?.hide()">
        <span aria-hidden="true" class="visually-hidden">&times;</span>
      </button>
    </div>
    <div class="modal-body" *ngFor="let ans of launches" >
          <p >{{ans.flight_number}} </p>
          <p>{{ans.launch_date_utc | datatime}}</p>
          <p>{{ans.launch_site.site_name}}</p>
          <p>{{ans.mission_name}}</p>
          <p>{{ans['rocket']['second_stage']['payloads'][0]['orbit']}}</p>
          <p>{{ans.launch_success?'success' :'failed'}}</p>
          <p>{{ans.rocket.rocket_name}}</p>
    </div>
  </ng-template> -->
  <div class="card-body" *ngIf="loading">
    <div id="preloader"></div>
  </div>
  <ng-template #spacetemplate >
    <div class="modal-header" >
      <!-- <h4 class="modal-title pull-left">Modal Box</h4> -->
      <button type="button" class="btn-close close " aria-label="Close" style="background: transparent; color: #1F2937;" (click)="modalRef?.hide()">
        <span aria-hidden="true" class="visually-hidden">&times;</span>
      </button>
    </div>
    <div class="modal-body"   style="color: #1F2937;  font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 20px;">
      <!-- style="font-family: Inter;font-style: normal;font-weight: normal; font-size: 14px; line-height: 24px; display: flex;align-items: center;color: #1F2937;" -->
      <!-- {{details.launch_success}} -->
      <table class="row">
        <div class="col-xl-4">
     <img src="{{spaceData.links.mission_patch}}" style="margin-left: 35px;" alt="thumbnail" >
      </div>
      
        <thead  style="color: #1F2937;  font-family: Inter;
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 16px; ">
          <div class="col-xl-4 colour" style=" font-size: 14px;
          line-height: 16px;margin-bottom: 8px; " >{{spaceData.mission_name}}<br>{{spaceData.rocket.rocket_name}}<br>
                   <span class="badge" [ngClass]="{'badge-primary ':(!spaceData.launch_success && !spaceData.upcoming ),'badge-success':spaceData.launch_success,'badge-warning':spaceData.upcoming}" style="border-radius: 10px; align-items: center;padding: 9px;margin-top: 10px; ">{{spaceData.upcoming === true?
                    'Upcoming' : spaceData.launch_success === true ?'Success':'failed'}}</span>
          </div>
          
          <!-- <hr> -->
        </thead>
        <tbody  style="color: #1F2937;  font-family: Inter;
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        align-items: center;
        line-height: 20px;
        left: 32px; margin-left: 35px; flex-direction: column; " >
          <!-- style="flex-direction: column;" -->
          {{spaceData.details}}
          <a href="{{spaceData.links.wikipedia}}"> wikipedia</a>
          <!-- <hr> -->
          <tr class="trhead">
            <td>flight_number :-&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; {{spaceData.flight_number}}</td>
          </tr>
          
          <tr>
            <td>mission_name:- &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{spaceData.mission_name}}</td>
          </tr>
          
          <tr>
            <td>rocket_type :-&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{spaceData.rocket.rocket_type}}</td>
          </tr>
          <tr>
            <td>Rocket:- &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{spaceData.rocket.rocket_name}}</td>
          </tr>
          <tr>
            <td> Manifacturer :-&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{spaceData.rocket.second_stage.payloads[0].manufacturer}}</td>
          </tr>
          <tr>
            <td>Nationality :-&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{spaceData.rocket.second_stage.payloads[0].nationality}}</td>
          </tr>
          <tr>
            <td> Launch-date:- &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{spaceData.launch_date_utc}}</td>
          </tr>
          <tr>
            <td>payload-type :-&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{spaceData.rocket.second_stage.payloads[0].payload_type}}</td>
          </tr>
          <tr>
            <td>Orbit:- &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{spaceData.rocket.second_stage.payloads[0].orbit}}</td>
          </tr>
          <tr>
            <td> launch-site:- &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{spaceData.launch_site.site_name}}</td>
          </tr>
        </tbody>
      </table>
      
    </div>
  </ng-template>

