@media screen and (max-width:400px){
    .container{
        cursor: pointer;
         justify-content: center;
          margin-left: -150px;
    }
     
  }
  @media screen and (max-width:800px){
    .container{
        cursor: pointer;
         justify-content: center;
          margin-left: -120px;
    }
     
  }