    <!-- <div class="modal-header  " #template  (click)="openmodal(template)">
      <h4 class="modal-title pull-left">Model Box</h4>
      <button type="button" class="btn-close close pull-right" aria-label="Close" (click)="modalRef?.hide()">
        <span aria-hidden="true" class="visually-hidden">&times;</span>
      </button>
    </div>
    <div class="modal-body" *ngFor="let ans of launches">
      <p >{{ans.flight_number}} </p>
      <p>{{ans.launch_date_utc | datatime}}</p>
      <p>{{ans.launch_site.site_name}}</p>
      <p>{{ans.mission_name}}</p>
      <p>{{ans['rocket']['second_stage']['payloads'][0]['orbit']}}</p>
      <p>{{ans.launch_success?'success' :'failed'}}</p>
      <p>{{ans.rocket.rocket_name}}</p>
    </div> -->
